/* In your CSS file or a style block in your component */
.tooltip {
    background: #fff;
    border: 1px solid #ccc;
    padding: 1px;
    /* height:100px; */
    /* border-radius: 25px; */
    text-align: center; /* Center align text */
}

.tooltip-header {
    font-weight: bold;
    /* margin-bottom: 2px; */
}

.tooltip-body {
    /* align: left; */
    margin-left: 15px;
    text-align: start;
    margin-top: 2px;
}


.download-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.download-menu.show {
    display: block;
}

.chart-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.toolbar button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease-in-out;
}
.toolbar button:hover {
    transform: scale(1.2);
}
.toolbar {
    position: relative;
}

.download-menu {
    display: none;
    position: absolute;
    top: 40px; /* Adjust this to position the menu below the button */
    right:530px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.download-menu.show {
    display: block;
}

.download-menu ul {
    list-style-type: none;
    padding: 0;
}

.download-menu ul li {
    margin: 10px 0;
}

.download-menu button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color:black;
}





.apexcharts-toolbar {
    display: flex;
    justify-content: flex-start;
}

.apexcharts-custom-icon.custom-sort-ascending,
.apexcharts-custom-icon.custom-sort-descending {
    order: -1; /* Move custom icons to the start */
}

.apexcharts-toolbar > * {
    margin-right: 8px; /* Adjust spacing if needed */
}


.chart-container {
    max-width: 100%; /* Set a maximum width */
    overflow-x: auto; /* Enable horizontal scrolling */
}
.download-menu1 {
    display: none;
    position: absolute;
    top: 50px; /* Adjust this value based on where you want the menu */
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
}

.download-menu.show1 {
    display: block;
}
